<div class="container text-center">
  <div class="col-xs-6 col-xs-offset-3">
    <h1 id="answer" > Question: <%= @question %></h1>
    <p id="coach-message">Coach message: <%= @answer %> </p>
    <%= link_to "Ask a question", ask_path, class: "btn btn-warning" %>
  </div>
</div>
