<div class="container text-center">
  <form action="/answer">
    <div class="col-xs-4 col-xs-offset-4">
      <label for="question">Speak to your coach</label>
      <input type="text" class="form-control" id="question" name="query" placeholder="What time is it?">
      <input type="submit" value="Go on!" class= "btn btn-warning">
    </div>
  </form>
</div>
